.intro-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  height: 100vh;
}

.intro-text,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text h2 {
  font-size: 6rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.1;
}

.intro-img img {
  max-width: 100%;
  height: auto;
}

.top3-content {
  max-width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.grid-one-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.grid-main-heading {
  padding-top: 70px;
  padding-bottom: 0px;
}

.grid-description {
  padding-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: 0rem;
  transform: rotate(5deg);
}

.gallery-img {
  padding-top: 10px;
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img img {
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap)
}

.form-grid legend{
 font-style: italic;
 font-size: 18px;
 margin-bottom: 30px;
}

.form-group {
  flex: 1 1 320px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea{
 border: none;
 background-color: var(--white-color);
 padding:1.5rem 2rem;
 width: 100%;
 font-size: 30px;
 outline: none;
}

.form-group input:focus,
.form-group textarea:focus{
 box-shadow: 0 0px 10px 8px var(--tertiary-color);
}

.form-group button{
  border: 2px solid var(--white-color);
  background: none;
  color: var(--white-color);
  padding:  1.5rem 2rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-group button:hover{
 background-color: var(--white-color);
 color:var(--primary-color);
}

.form-group ::placeholder{
  color: rgb(182, 168, 168);
}

.footer{
  width: 100%;
  height: 40px;
  margin-top:  700px;
  margin-right: 600px;
  position: relative;
  text-align: center;
}

.footer a {
  color: #444
}

@media (max-width: 800px){
   .intro-content{
     grid-template-columns: 1fr;
   }

   .gallery-img{
     width: 100%;
     max-width: 100%;
     max-height: 100%;
   }

   .gallery-img img{
     width: 100%;
   }
   .grid-one-content{
     display: block;
   }
}